// ------------------------------------
// Footer Top
// ------------------------------------

.footer {
	background: #fff;
	padding-top: 100px;

	&__header {
		position: relative;
	}

	&__to-header {
		@include hide-text;
		width: 40px;
		height: 40px;
		background: $color-complement;
		position: absolute;
		border-radius: 50%;
		display: block;
		bottom: -20px;
		right: $margin;
		overflow: hidden;

		// &:before, &:after {
		// 	content: '';
		// 	position: absolute;
		// 	width: 12px;
		// 	height: 2px;
		// 	background-color: #fff;
		// 	@include calc(top, '50% - 1px');
		// 	@include calc(left, '50% - 6px');
		// 	border-radius: 1px;

		// }
		&:before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			color: #fff;
			border-color: #fff #fff transparent transparent;
			border-width: 2px 2px 0 0;
			border-style: solid;
			@include calc(top, '50% - 4px');
			@include calc(left, '50% - 6px');
			@include transform(rotate(-45deg));

		}

		&:hover {
			@include transform(scale(1.2));
			&:before {
				@include animation(goup .6s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940));
			}
		}
	}
}

@include keyframes('goup') {
	0% {
		@include transform(rotate(-45deg) translate(0, 0));
	}
	50% {
		@include transform(rotate(-45deg) translate(30px, -30px));
	}
	50.01% {
		@include transform(rotate(-45deg) translate(-30px, 30px));
	}
	100% {
		@include transform(rotate(-45deg) translate(0, 0));
	}
}


// ------------------------------------
// Footer Body (lightblue)
// ------------------------------------

.footer {

	&__body {
		background: $color-brand2;
		color: #fff;
		padding: $margin*2 0;
		overflow: hidden;

		.container {
			display: table;
		}
	}

	&__description {
		display: table-cell;
		width: 60%;
		padding-right: $margin;
		vertical-align: middle;

		*:last-child {
			margin-bottom: 0;
		}
	}

	&__social {
		list-style: none;
		padding-left: 0;
		display: table-cell;
		width: 40%;
		text-align: right;
		margin-bottom: 0;
		vertical-align: middle;

		li {
			display: inline-block;
			vertical-align: middle;
		}

		a {
			color: #fff;
		}

		@at-root [class*="icon__footer-"] {
			width: 40px;
			height: 40px;
			@include hide-text;
			background: url(../img/icon-footer-social.png) no-repeat;
			display: block;
			box-shadow: inset 0 0 0 1px rgba(#fff,.5);
			border-radius: 50%;
			margin-left: 5px;

			&:hover {
				box-shadow: inset 0 0 0 1px rgba(#fff,.75);
			}
		}

		@at-root .icon__footer {
			&-fb {background-position: 0 0}
			&-tw {background-position: -40px 0}
			&-gp {background-position: -80px 0}
			&-ig {background-position: -120px 0}
			&-yt {background-position: -160px 0}
			&-pt {background-position: -200px 0}
		}
	}
}


// ------------------------------------
// Footer Bottom (darkgrey)
// ------------------------------------

.footer {

	&__bottom {
		background: $color-darkgrey;
		color: lighten($color-lighter,30);
		font-size: 13px;

		.container {
			display: table;

			> * {
				display: table-cell;
				vertical-align: middle;
				padding: $margin 0;

				&:first-child {
					width: 70%;
				}

				&:last-child {
					width: 30%
				}
			}
		}

		a {
			color: lighten($color-lighter,30);

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	&__nav {
		list-style: none;

		li {
			display: inline-block;
			margin-left: $margin;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__copyright {
		text-align: right;
	}
}

