.header {
	background: #fff;
	position: relative;
	z-index: 5;

	.container {
		height: 50px;
		position: relative;

		@media (min-width: 768px) {
			height: 60px;
		}
	}
}

.header__search {
	position: absolute;
	right: 15px;
	top: 50%;
	@include transform(translateY(-50%));
	width: 300px;

	.form-group {
		position: relative;
		margin-bottom: 0;
	}

	.form-control {
		background: $lightgrey;
		border-radius: $radius !important;
		padding-right: 66px;
	}

	button {
		background: transparent;
		border: none;
		box-shadow: none;
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 0 $radius $radius 0;
		cursor: pointer;

		&.btn-lg {
			padding-left: $margin;
			padding-right: $margin;
		}

		svg {
			position: relative;
			top: 3px;
			fill: $color-link-secondary;
			@include transition(all .1s linear);
		}

		&:hover {
			background: $color-link-secondary;
			svg {
				fill: #fff;
			}
		}
	}
}

.brand {
	font-weight: 300;
	@include font-size(2.1);

	&--header {
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
	}

	a:hover {
		text-decoration: none;
	}
}

.logo {
	width: 128px;
	height: 24px;
	background: url(../img/imoney-malaysia-logo.png) no-repeat;
	background-size: 100%;
	//margin: 0 auto;
	display: inline-block;
	vertical-align: 23px;
	@include hide-text;



	@media (min-width: 768px) {
		//margin: 15px 0 0;
		background-size: 160px 28px;
		width: 160px;
		height: 28px;
		margin-right: 5px;
	}
}