.header {
	background: #fff;
	position: relative;
	z-index: 5;

	.container {
		height: 60px;
		position: relative;
	}

	@media (max-width: $screen-xs-max) {
		text-align: center;
	}
}

.header__search {
	position: absolute;
	right: 15px;
	top: 50%;
	@include transform(translateY(-50%));
	width: 300px;

	.form-group {
		position: relative;
		margin-bottom: 0;
	}

	.form-control {
		background: $lightgrey;
		border-radius: $radius !important;
		padding-right: 66px;
	}

	button {
		background: transparent;
		border: none;
		box-shadow: none;
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 0 $radius $radius 0;
		cursor: pointer;

		&.btn-lg {
			padding-left: $margin;
			padding-right: $margin;
		}

		svg {
			position: relative;
			top: 3px;
			fill: $color-link-secondary;
			@include transition(all .1s linear);
		}

		&:hover {
			background: $color-link-secondary;
			svg {
				fill: #fff;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		//@include transform(translateY(0));
		background: $color-bodybg;
		left: 0;
		top: 0;
		right: 0;
		height: 60px;
		padding: 12px 15px;
		width: auto;
		box-shadow: 0 1px 5px rgba(#000, .2);
		@include transform(translateY(-100%));

		form {
			height: 100%;
		}

		.form-control {
			//border: none;
			// border-bottom:
			color: #fff;
			font-size: 16px;
			//border-radius: 0 !important;
			// padding-left: 0;
			// padding-right: 0;
			//height: 60px;
		}

	}

	@at-root .btn-search-toggle {
		position: absolute;
		display: none;
		right: 15px;
		padding: 10px 12px;
		border: 1px solid rgba($color, .1);
		border-radius: $radius;
		background: #fff;
		line-height: 0;
		top: 10px;

		svg {
			fill: $color-link-secondary;
		}

		@media (max-width: $screen-xs-max) {
			display: block;
		}
	}

	@at-root .search-active {
		@include transform(translateY(60px));
	}
}

.brand {
	font-weight: 600;
	line-height: 1.1;

	@media (min-width: $screen-sm) {
		font-weight: 300;
		@include font-size(2.1);
	}

	&--header {
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
	}

	a:hover {
		text-decoration: none;
	}

	a:visited {
		color: $color-brand2;
	}
}

.logo {
	width: 128px;
	height: 24px;
	background: url(../img/imoney-malaysia-logo.png) no-repeat;
	background-size: 100%;
	display: block;
	vertical-align: 23px;
	@include hide-text;

	.header & {
		margin: 0 auto;
	}

	@media (min-width: $screen-sm) {
		//margin: 15px 0 0;
		background-size: 160px 28px;
		display: inline-block;
		width: 160px;
		height: 28px;
		margin-right: 5px;
	}
}