.content__main, .content__infographic {
	@include clearfix;
	background: #fff;

	// @at-root .content__main {
	// 	padding: $margin*2 0;
	// }
}
.content__left {
	@include calc(width, '100% - 340px');
	float: left;
	padding: $margin*2 0;

	@media (max-width: $screen-sm-max) {
		width: auto;
		float: none;
		//padding-top: 15px;
	}
}

.content__side {
	width: 300px;
	float: right;
	padding: $margin*2 0;

	@media (max-width: $screen-sm-max) {
		width: auto;
		float: none;
		//display: none;
		padding: 0;

		> *:not(#text-9) {
			display: none;
		}
	}
}

// infographic
.content__infographic {
	padding-bottom: 60px;
}
.infographic {
	&__image {
		float: left;
		width: 60%;
	}

	&__content {
		float: right;
		width: 40%;
		padding-left: 40px;
	}

	@media (max-width: $screen-sm-max) {
		&__image, &__content {
			float: none;
			width: auto;
		}
		&__content {
			padding-left: 0;
		}
	}
}

