.content__main, .content__infographic {
	@include clearfix;
	background: #fff;

	// @at-root .content__main {
	// 	padding: $margin*2 0;
	// }
}
.content__left {
	@include calc(width, '100% - 342px');
	float: left;
	padding: $margin*2 0;

	@media (max-width: $screen-sm-max) {
		width: auto;
		float: none;
	}
}

.content__side {
	max-width: 300px;
	float: right;
	padding: $margin*2 0;

	@media (max-width: $screen-sm-max) {
		display: none;
	}
}

