hr {
	height: 10px;
	background: #f8f8f8;
	border: none;
	margin: $margin 0;
}

// BLOCKQUOTE
blockquote {
	background: $color-brand2;
	padding: $margin 30px;
	color: #fff;
	border-left: 0;
	font-family: $font;
	font-style: italic;
	font-size: $h4;
	position: relative;
	box-shadow: 3px 3px 0 rgba($color-brand2, .2);

	&:before {
		content: '\201C';
		position: absolute;
		left: -13px;
		color: $color-brand1;
		font-size: 60px;
		font-family: $font-helvetica;
		font-style: normal;
		font-weight: 700;
		top: -8px;
	}

	&.quote--light {
		background: $color-bodybg;
		color: $color-lighter;
		box-shadow: 3px 3px 0 rgba($color-bodybg,.5);

		footer {
			color: $color-lighter;

			a, a:hover {
				color: $color-brand2;
			}
		}
	}

	&.quote--complement {
		background: $color-complement;
		box-shadow: 3px 3px 0 rgba($color-complement,.2);
	}

	footer {
		margin-top: $margin/2;
		font-size: 13px;
		font-style: normal;
		color: #fff;
		opacity: .75;

		a {
			color: #fff;

			&:hover {
				color: currentColor;
			}
		}

		&::before {
			content: '- ';
		}
	}

	cite {
		font-style: normal;

		a {
			color: #ffcdde;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&.pull-left {
		float: left;
		width: 45%;
		margin: 5px 30px 0 0;
	}

	&.pull-right {
		float: right;
		width: 45%;
		margin: 5px 0 0 30px;
	}
}

// FLOATS
.pull {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
}

// WP CAPTION
.wp-caption {
	max-width: 100%;
	padding-bottom: 10px;
	margin-bottom: $margin;
	position: relative;

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		height: 2px;
		content: '';
		background: $color-brand2;
	}

	&-text {
		font-size: 14px;
		font-weight: 600;
		font-family: $font;
		margin-bottom: 0;
		margin-top: 8px;
	}

	@at-root .alignleft {
		float: left;
		margin: 5px 30px $margin 0;
	}

	@at-root .alignright {
		float: right;
		margin: 5px 0 $margin 30px;
	}

	@at-root .aligncenter {
		margin: 0 auto $margin;
	}

	@at-root img.aligncenter {
		display: block;
	}
}

// TABLE

// BLOCK
.block {
	background-color: #f1f4f6;
	padding: 18px $margin;
	margin-bottom: $margin;
	position: relative;
	font-size: 15px;
	overflow: hidden;

	.alignleft, .alignright {
		margin-bottom: 5px;
	}

	&__title {
		color: $color-lighter;
		font-weight: 700;
		font-family: $font;
		margin-bottom: 5px;
		font-size: 14px;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&--summary, &--info, &--success, &--tips, &--warning {
		padding-right: 90px;

		&:after {
			content: '';
			position: absolute;
			background: url(../img/icon-contentblocks.png) no-repeat;
			background: url(../img/icon-contentblocks.svg) no-repeat;
			right: $margin;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}

	&--summary:after {
		width: 48px;
		height: 60px;
		background-position: 0 0;
	}
	&--info {
		background-color: #ccebf5;

		.block__title { color: $color-brand2}

		&:after {
			width: 56px;
			height: 62px;
			background-position: -160px 0;
		}
	}
	&--success {
		background-color: #d0f1e7;

		.block__title { color: #4a8b78}

		&:after {
			width: 56px;
			height: 56px;
			background-position: -216px 0;
		}
	}
	&--tips {
		background-color: #faf8e1;
		color: #666554;

		.block__title { color: #9c913e}

		&:after {
			width: 56px;
			height: 69px;
			background-position: -48px 0;
		}
	}
	&--warning {
		background-color: #ffd9cf;
		color: #554543;

		.block__title { color: #c82800}

		&:after {
			width: 56px;
			height: 69px;
			background-position: -104px 0;
		}
	}

	&--content, &--content-reverse {
		.block__title {
			color: #fff;
			background: $color-brand2;
			margin: -18px #{-$margin} 18px;
			padding: 9px $margin;
		}
	}

	&--content-reverse {
		background: $color;
		color: #fff;
	}
}
