// ------------------------------------
// BLOCKQUOTE
// ------------------------------------

.ad--midrec-article {
	text-align: center;
	margin-bottom: $margin;
}

.ad--leaderboard {
	.before-content & {
		text-align: center;
		margin-bottom: $margin;

		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
}

// ------------------------------------
// AD
// ------------------------------------

hr {
	height: 10px;
	background: #f8f8f8;
	border: none;
	margin: $margin 0;
}

// ------------------------------------
// BLOCKQUOTE
// ------------------------------------
blockquote {
	background: $color-brand2;
	padding: $margin 30px;
	color: #fff;
	border-left: 0;
	font-family: $font;
	font-style: italic;
	font-size: $h4;
	position: relative;
	box-shadow: 3px 3px 0 rgba($color-brand2, .2);

	&:before {
		content: '\201C';
		position: absolute;
		left: -13px;
		color: $color-brand1;
		font-size: 60px;
		font-family: $font-helvetica;
		font-style: normal;
		font-weight: 700;
		top: -8px;
	}

	&.quote--light {
		background: $color-bodybg;
		color: $color-lighter;
		box-shadow: 3px 3px 0 rgba($color-bodybg,.5);

		footer {
			color: $color-lighter;

			a, a:hover {
				color: $color-brand2;
			}
		}
	}

	&.quote--complement {
		background: $color-complement;
		box-shadow: 3px 3px 0 rgba($color-complement,.2);
	}

	footer {
		margin-top: $margin/2;
		font-size: 13px;
		font-style: normal;
		color: #fff;
		opacity: .75;

		a {
			color: #fff;

			&:hover {
				color: currentColor;
			}
		}

		&::before {
			content: '- ';
		}
	}

	cite {
		font-style: normal;

		a {
			color: #ffcdde;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&.pull-left {
		float: left;
		width: 45%;
		margin: 5px 30px 0 0;
	}

	&.pull-right {
		float: right;
		width: 45%;
		margin: 5px 0 0 30px;
	}
}

// ------------------------------------
// FLOAT
// ------------------------------------
.pull {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
}

// ------------------------------------
// WP CAPTION
// ------------------------------------
.wp-caption {
	max-width: 100%;
	padding-bottom: 10px;
	margin-bottom: $margin;
	position: relative;

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		height: 2px;
		content: '';
		background: $color-brand2;
	}

	&-text {
		font-size: 14px;
		font-weight: 600;
		font-family: $font;
		margin-bottom: 0;
		margin-top: 8px;
	}

	@at-root .alignleft {
		float: left;
		margin: 5px 30px $margin 0;
	}

	@at-root .alignright {
		float: right;
		margin: 5px 0 $margin 30px;
	}

	@at-root .aligncenter {
		margin: 0 auto $margin;
	}

	@at-root img.aligncenter {
		display: block;
	}
}

// ------------------------------------
// TABLE
// ------------------------------------
.table-responsive {
	width: 100%;
	overflow-y: scroll;
	margin-bottom: $margin;

	> table {
		margin-bottom: 0;
	}
}
table {
	width: 100%;
	background: $lightgrey;

	th {
		background: $color-brand2;
		color: #fff;
		font-family: $font;
		font-weight: 600;
		border-bottom: 3px solid darken($color-brand2,5);
		padding: 10px $margin;
		text-align: left;
		text-shadow: 0 1px 0 rgba(0,0,0,.2);
		border-right: 1px solid darken($color-brand2,10);

		&:last-child {
			border-right: none;
		}
	}

	tr:hover {
		td {
			background-color: darken($lightgrey,2)
		}
	}

	td {
		padding: 10px $margin;
		border-bottom: 1px solid darken($lightgrey,10);
		border-right: 1px solid darken($lightgrey,10);

		&:last-child {
			border-right: none;
		}
	}
}

.table-subhead-second, .table-subhead {
	tr:nth-child(1) {
		td {
			background: $color-brand1;
			color: darken($color-bodybg,10);
			font-family: $font;
			font-size: 14px;
			border-color: darken($color-brand1,5);
		}
	}
}

.table-head-side {
	tr {
		td {
			&:first-child {
				background: $color-brand2;
				color: #fff;
				font-family: $font;
				font-weight: 600;
				padding: 15px $margin;
				text-align: left;
				text-shadow: 0 1px 0 rgba(0,0,0,.2);
				border-color: darken($color-brand2,10);
				border-right: 3px solid darken($color-brand2,5);
			}
		}
	}
}

.table-subhead-side {
	tr {
		td {
			&:first-child {
				background: $color-brand1;
				color: darken($color-bodybg,10);
				font-family: $font;
				font-size: 14px;
				border-color: darken($color-brand1,5);
			}
		}
	}
}


// ------------------------------------
// BLOCK
// ------------------------------------
.block {
	background-color: #f1f4f6;
	padding: 18px $margin;
	margin-bottom: $margin;
	position: relative;
	font-size: 15px;
	overflow: hidden;

	.alignleft, .alignright {
		margin-bottom: 5px;
	}

	&__title {
		color: $color-lighter;
		font-weight: 700;
		font-family: $font;
		margin-bottom: 5px;
		font-size: 14px;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&--summary, &--info, &--success, &--tips, &--warning {
		padding-right: 90px;

		&:after {
			content: '';
			position: absolute;
			background: url(../img/icon-contentblocks.png) no-repeat;
			background: url(../img/icon-contentblocks.svg) no-repeat;
			right: $margin;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}

	&--summary:after {
		right: $margin + 5px;
		width: 48px;
		height: 60px;
		background-position: 0 0;
	}
	&--info {
		background-color: #ccebf5;

		.block__title { color: $color-brand2}

		&:after {
			width: 56px;
			height: 62px;
			background-position: -160px 0;
		}
	}
	&--success {
		background-color: #d0f1e7;

		.block__title { color: #4a8b78}

		&:after {
			width: 56px;
			height: 56px;
			background-position: -216px 0;
		}
	}
	&--tips {
		background-color: #faf8e1;
		color: #666554;

		.block__title { color: #9c913e}

		&:after {
			width: 56px;
			height: 69px;
			background-position: -48px 0;
		}
	}
	&--warning {
		background-color: #ffd9cf;
		color: #554543;

		.block__title { color: #c82800}

		&:after {
			width: 56px;
			height: 69px;
			background-position: -104px 0;
		}
	}

	&--content, &--content-reverse {
		.block__title {
			color: #fff;
			background: $color-brand2;
			margin: -18px #{-$margin} 18px;
			padding: 9px $margin;
		}
	}

	&--content-reverse {
		background: $color;
		color: #fff;
	}
}

// ------------------------------------
// PRODUCT BLOCK
// ------------------------------------
.product {
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,.15);
	display: table;
	width: 100%;
	margin-bottom: $margin;

	> * {
		display: table-cell;
	}

	&__image {
		width: 200px;
		padding: $margin;
	}

	&__description {
		padding: $margin;
		padding-left: 0;
		vertical-align: middle;
		border-right: 1px solid rgba($color, .1);

		h4 {
			margin-top: 0;
			margin-bottom: 15px;
			font-family: $font;
			font-weight: 600;
		}

		p {
			margin-bottom: 0;
		}

		em {
			display: block;
			font-size: 12px;
			color: $color-lighter;
			font-style: normal;
			font-family: $font;
		}
	}

	&__cta {
		padding: $margin;
		width: 150px;

		.btn {
			font-weight: 600;
		}
	}

	&.promo {
		background-color: $color-gold-lighter;
		box-shadow: 0px 1px 4px 0px $color-gold-border;

		h4, h4 a {
			color: #df931a;
		}

		.product__description {
			border-right-color: $color-gold-border;
		}

		.btn {
			background-color: #f5cd45;
			color: #68530b;
		}
	}
}

// ------------------------------------
// INFOGRAPHIC
// ------------------------------------

.infographic--list__header {
	text-align: center;
	padding: $margin 0 40px;
	background: url(../img/infographic-bg.png) center top no-repeat;
	background-size: 793px 230px;

	h5 a {
		width: 295px;
		height: 52px;
		@include hide-text;
		display: inline-block;
		background: url(../img/infographic-header.png) no-repeat;
		background: url(../img/infographic-header.svg) no-repeat;
	}
}

.infographic--list__body {
	background-color: $color-darkgrey;
	background-size: 100%;
	text-align: center;
	padding: 0 30px;
	position: relative;

	.slides {
		@include transform(translateY(-20px));
	}

	.slide {
		color: #fff;

		a {
			color: #fff;

			&:hover {
				color: $color-brand2;
				text-decoration: none;
			}
		}

		.meta {
			color: #fff;
			opacity: .75;
		}
		.icon__meta--views {
			float: none;
			display: inline-block;
			background-position: -36px 0;

			+ * {
				display: inline-block;
				padding-left: 0;
				vertical-align: 1px
			}
		}
	}

	img {
		margin: 0 auto $margin;
	}

	h3 {
		font-size: $h5;
		padding: 0 $margin;
	}
}

[class*="infographic__nav"] {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 50%;
	margin-top: -24px;
	background: #2ebac4;
	cursor: pointer;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		color: #fff;
		border-color: #fff transparent transparent #fff;
		border-width: 2px 0 0 2px;
		border-style: solid;
		@include calc(top, '50% - 6px');
		@include calc(left, '50% - 4px');
		@include transform(rotate(-45deg));
	}
}

.infographic__nav {
	&--prev {
		left: -35px;

		&:hover {
			&:before {
				@include animation(goleft .5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940));
			}
		}
	}
	&--next {
		right: -35px;

		&:before {
			@include transform(rotate(135deg));
			@include calc(left, '50% - 9px');
		}

		&:hover {
			&:before {
				@include animation(goright .5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940));
			}
		}
	}
}

@include keyframes('goleft') {
	0% {
		@include transform(rotate(-45deg) translate(0, 0));
	}
	50% {
		@include transform(rotate(-45deg) translate(-3px, -3px));
	}
	100% {
		@include transform(rotate(-45deg) translate(0, 0));
	}
}

@include keyframes('goright') {
	0% {
		@include transform(rotate(135deg) translate(0, 0));
	}
	50% {
		@include transform(rotate(135deg) translate(-3px, -3px));
	}
	100% {
		@include transform(rotate(135deg) translate(0, 0));
	}
}



// ------------------------------------
// 404
// ------------------------------------
.content--404 {
	min-height: 350px;
	padding-top: 40px;
}


// ------------------------------------
// LEGACY CODE
// ------------------------------------

// form-cta
.form-cta {
	border-radius: $radius;
	margin-bottom: $margin;

	h3, h5 {
		margin-top: 0;
	}

	h3 { font-family: $font}
	h5 {padding: 20px;}

	hr {
		height: 1px;
		background-color: $color-bodybg
	}
	input[type="radio"], input[type="checkbox"] {margin-top: 0}

	.form-group {
		br {
			display: none;
		}
	}

	.btn {
		@extend .btn-lg;
	}
}


// Grid
$gridcolumn: 12;
$gridwidth: 60px;
$gutter: 15px;

[class*="fl-"] {
	float: left;
}

.row-fl {
	@include clearfix;
	float: none;
	position: relative;
}

/* Percentage column */

@for $i from 1 through $gridcolumn {
	.fl-#{$i} {
		width: percentage($i/$gridcolumn);
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* fluid width offset */
@for $i from 1 through 11 {
	.fl-offset-#{$i} {
		margin-left: percentage($i/$gridcolumn);
	}
}

.a-center {text-align: center;}
.a-right {text-align: right;}
.pl20 {padding-left: 20px}
.pr20 {padding-right: 20px}
.pt20 {padding-top: 20px}
.pb10 {padding-bottom: 10px}
.p10 {padding: 10px}
.bb {border-bottom: 1px solid $color-bodybg}
.mt0 {margin-top: 0}
.mb0 {margin-bottom: 0}
.font-xsm {font-size: $font-xsm}
.font-sm {font-size: $font-sm}
.control-label {font-size: 14px; padding-right: 0; font-weight: 700}
.form-control {line-height: 1.7}
.pl30 {padding-left: 30px}
.pr30 {padding-right: 30px}

.error {color: $color-alert}
label.error {font-size: 14px}
.form-control.error {border-color: $color-alert}


