.content__side {
	[class*="widget"] {
		margin-bottom: 40px;
	}

	ul {
		list-style: none;
		padding-left: 0;

		> li {
			position: relative;
			padding: 0 0 10px;
			margin-top: 10px;
			border-bottom: 1px solid rgba($color, .1);
		}
	}

	a {
		color: $color-link-secondary;

		&:hover {
			color: $color-brand2;
			text-decoration: none;
		}
	}

	h5 {
		color: $color-brand1;
		position: relative;
		padding-bottom: 13px;
		margin-bottom: 10px;

		&:after {
			width: 30px;
			height: 3px;
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			background-color: $color-brand2;
		}
	}
}

// ------------------------------------
// POPULAR POSTS
// ------------------------------------
$lists: #c82800, #8d1d4e, #e5b72c, #46bcc2, #214766;

.tptn_posts_widget {
	color: #fff;

	@at-root .widget_widget_tptn_pop h5 {
		text-align: center;
		padding-bottom: 0;

		&:after {
			display: none;
		}
		span {
			display: inline-block;

			&.word2 {
				background: url(../img/icon-flame.png) no-repeat;
				background-image: url(../img/icon-flame.svg);
				background-size: auto 100%;
				color: #fff;
				padding: 25px 8px 21px 5px;
			}
		}

	}

	ul {
		li {
			border-bottom: none;
			padding: 12px 15px;
			margin-top: 0;

			@for $i from 1 through length($lists) {
				&:nth-child(#{$i}) {
					background-color: nth($lists, $i);
					@if $i > 1 {
						width: 100% - (4% * ($i - 1));
						box-shadow: inset 0 3px 0 darken(nth($lists, $i), 5);
					}
				}
			}
		}
	}

	a {
		color: currentColor;
		font-weight: 600;
		text-decoration-color: rgba(#fff, .5);

		&:hover {
			color: currentColor;
			text-decoration: underline;
			text-decoration-color: rgba(#fff, .5);
		}
	}

	.tptn_list_count {
		display: block;
		opacity: .75;
		font-size: 13px;
		position: relative;
		padding-left: 17px;

		&:before {
			content: '';
			width: 12px;
			height: 12px;
			position: absolute;
			background: url(../img/icon-meta.png) no-repeat -36px 0;
			background: url(../img/icon-meta.svg) no-repeat -36px 0;
			left: 0;
			top: 3px;
		}
	}
}