// ------------------------------------
// FONT
// ------------------------------------
$font: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$font-helvetica: 'Helvetica Neue', Arial, sans-serif;
$font-serif: serif;
$font-merriweather: 'Merriweather', serif;

// ------------------------------------
// FONT SIZE
// ------------------------------------
$h1: 30px;
$h2: 24px;
$h3: 21px;
$h4: 18px;
$h5: 16px;
$h6: 15px;

// ------------------------------------
// COLOR
// ------------------------------------
$color: #434c55; /* base font color */
$color-lighter: #687179; /* #5e6a77 lighter font color */
$color-reverse: #e2edf1; /* color for darkblue section */

$color-footer: #687179;

$color-footer-v2 : #88A4B3;

$color-link-secondary: #708eab;

$color-complement: #ef6700;
$color-success: #44b74d;
$color-alert: #da4f49;

$color-bodybg: #eceff2 /*#f3f7f8*/;

$color-lightblue: #b4e2f1;

$color-brand1: #193d5a; // #004668; /* dark blue */
$color-brand2: #1e7ea9; // #2c96b8 #1ca0cb; //#00a1c7; /* sea blue */
$color-brand2-old: #2c96b8;
$color-darkgrey: #344353;

$lightgrey: #f1f4f6;

// featured
$color-gold: #ffdb76;
$color-gold-lighter: #fbf4dd;
$color-gold-border: lighten(#e3ca87,5);

// best
$color-best: #cd2372;

$color-fb: #3b5998;
$color-tw: #55acee;
$color-mail: #e8603e;
$color-wa: #1d9e11;

$color-interview-yellow: #f0f2d7;
$color-interview-purple: #6459ac;

// ------------------------------------
// MQ
// ------------------------------------
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;

// ------------------------------------
// MISC
// ------------------------------------
$radius: 3px;
$margin: 20px;

